<div class="row">
    <div class="col-md-6">
        <script id="815f3636-4c16-4972-a8f4-ac5253793e83">var sId="815f3636-4c16-4972-a8f4-ac5253793e83",iframe=document.createElement("iframe");iframe.src="//developer.relayr.io/snippet/#"+sId;iframe.style.width="250";iframe.style.height="600";iframe.id="s-"+sId;iframe.frameBorder=0;iframe.scrolling="no";document.body.appendChild(iframe);document.getElementById(""+sId).parentNode.appendChild(iframe);function aSize(a,b){document.getElementById("s-"+b).style.height=a+"px"};</script>
    </div>
    <div class="col-md-6">
        <script id="8ce79aa0-73e9-4102-a6dc-245324f3c23e">var sId="8ce79aa0-73e9-4102-a6dc-245324f3c23e",iframe=document.createElement("iframe");iframe.src="//developer.relayr.io/snippet/#"+sId;iframe.style.width="250";iframe.style.height="600";iframe.id="s-"+sId;iframe.frameBorder=0;iframe.scrolling="no";document.body.appendChild(iframe);document.getElementById(""+sId).parentNode.appendChild(iframe);function aSize(a,b){document.getElementById("s-"+b).style.height=a+"px"};</script>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <script id="9207ebbb-0676-4957-b93a-c61d017895a8">var sId="9207ebbb-0676-4957-b93a-c61d017895a8",iframe=document.createElement("iframe");iframe.src="//developer.relayr.io/snippet/#"+sId;iframe.style.width="250";iframe.style.height="600";iframe.id="s-"+sId;iframe.frameBorder=0;iframe.scrolling="no";document.body.appendChild(iframe);document.getElementById(""+sId).parentNode.appendChild(iframe);function aSize(a,b){document.getElementById("s-"+b).style.height=a+"px"};</script>
    </div>
    <div class="col-md-6">
        <script id="f4e04b9a-54e8-4e8c-8d6d-055bafa62b6a">var sId="f4e04b9a-54e8-4e8c-8d6d-055bafa62b6a",iframe=document.createElement("iframe");iframe.src="//developer.relayr.io/snippet/#"+sId;iframe.style.width="250";iframe.style.height="600";iframe.id="s-"+sId;iframe.frameBorder=0;iframe.scrolling="no";document.body.appendChild(iframe);document.getElementById(""+sId).parentNode.appendChild(iframe);function aSize(a,b){document.getElementById("s-"+b).style.height=a+"px"};</script>
    </div>
</div>