<div class="date">
    <a class="prev" href="">
        <i class="icon-left-outline"></i>
    </a>
    Today, October 11
    <a class="next" href="">
        <i class="icon-right-outline"></i>
    </a>
</div>
<div class="graph">
    <i class="icon icon-moon"></i>
    <div id="fluster"></div>
</div>
<div class="graph">
    <i class="icon icon-temperatire"></i>
    <div id="temp"></div>
</div>
<div class="graph">
    <i class="icon icon-volume-high"></i>
    <div id="noise"></div>
</div>
<div class="graph" >
    <i class="icon icon-lightbulb"></i>
    <div id="light"></div>
</div>
<div class="graph" >
    <i class="icon icon-waves-outline"></i>
    <div id="humidity"></div>
</div>