@import url(http://fonts.googleapis.com/css?family=Pacifico);

body {
    padding-top: 100px;
    padding-bottom: 20px;
    background:whitesmoke;
}

.container {
    max-width:860px;
    padding:0px 60px;
}

.navbar-inverse {
    background-color:#7BCAAC;
    border-bottom:3px solid #6EB499;
}

.navbar i {
    font-size:20px;
    line-height:45px;
}

.navbar a {
    color:whitesmoke !important;
}

.navbar-brand {
    font-size:30px;
    line-height:45px;
    font-family: 'Pacifico', cursive;
}

.date {
    font-weight:bold;
    font-size:14px;
    line-height:24px;
    text-align:center;
    padding-bottom:30px;
    padding-top:10px;
    vertical-align: middle;
}
.date a {
    vertical-align: middle;
    font-size:24px;
    line-height: 24px;
    color:#dddddd;
    opacity:0;
    padding:0 30px;
    -webkit-transition: all .4s;
    transition: all .4s;
    text-decoration:none;
}
.date:hover a {
    opacity:1;
    padding:0px 45px;
    -webkit-transition: all .7s;
    transition: all .7s;
}


.avatar {
    width:55px;
    border-radius:50%;
    margin-top:-5px;
    margin-bottom:-5px;
}

.graph {
    padding-bottom:20px;
    position:relative;
}

.graph .icon {
    position:absolute;
    top:5px;
    left:-55px;
    font-size:35px;
    color:#dddddd;
}